

{% extends 'base.html'%}

{%block title%}Customer Signup{% endblock title%}

{% block content %}
<body  style="background-image:url('/static/images/s2.gif');background-repeat: no-repeat;
        background-attachment: fixed;
        background-position:right ;">
<div class="container">
 <div class="row my-3">
    <div class="col-sm-6 offset sm-6">

        <h3>Customer Signup</h3>


        <form   action="/signup" method="post" class="shadow p-5">

           {% csrf_token %} {% if messages %}
            {% for message in messages %}
            <p {% if message.tags%} class="alert alert-{{message.tags}} mb-6 form-control-sm"{% endif %}>{{message}} </p>
            {%endfor%}
            {%endif%}

            {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger form-control-sm" role="alert">
                {{error}}

            </div>
            {%endif%}

            <div class="form-group">
                <label for="" class="form-control-lg">Name</label>
                <input  type="text" name="name" id="" value="{{value.name}}" class="form-control" placeholder="Enter name"> </input>
            </div>
            <div class="form-group">
                <label for="" class="form-control-lg">Mobile Number</label>
                <input type="text" name="password" id=""  value="{{value.password}}"class="form-control"
                       placeholder="Enter mobile number"></input>
            </div>



            <div class="from-group pt-4">
                <input class="btn btn-sm btn-info" type="submit" value="SIGNUP"> </input>
            </div>



        <div class="text-center text-primary fw-bold">
            <small class="form-control-sm"> Existing user to Paradise Mattress?<small>
                <a class="text-danger form-control-sm" href="/login">Login</a>
        </div>

    </form>
 </div>

 </div>



</div>



</body>
{% endblock%}